<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer th:fragment="footer">
      <div class="container text-muted">
        <hr />
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Copyright 2022 Rubén Díaz &middot;
            <a href="https://github.com/Benrhu/JavaWebsite" target="_blank">Source Code</a> &middot;
            <a href="mailto:rubendiaz300000@gmail.com">Send me an email</a>
        </p>
      </div>
    </footer>
</body>
</html>
